html {background-color:#f7f6f0;
        color: black;}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius:10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}
a:active {color: #924be2;}
h1, h2, h3 {text-align:center;
font-family: copperplate, serif;}
h1{font-family: copperplate, serif;}
p, q, li {font-size: 1.1em;}
#contentlist {list-style: none;
text-align:left;}
#dedication {text-align: center;}

#tableofcontents {border: solid 3.3px #17065c;
border-radius: 10px;
margin: 7px 1px;
padding: 7px;}

#dedication {border: solid 3.3px #7f0741;
  border-radius: 10px;
  margin: 7px 1px;
  padding: 7px;}

#section1 {border: solid 3.3px #067a25;
  border-radius: 10px;
  margin: 7px 1px;
padding: 7px;}

#section2 {border: solid 3.3px #eb5104;
  border-radius: 10px;
  margin: 7px 1px;
  padding: 7px;}
 #section3 {border: solid 3.3px #6b3115;
    border-radius: 10px;
    margin: 7px 1px;
    padding: 7px;}

p {text-indent: 35px;}

.buddy {color: #52b84d;}
.love {color: #ff80dd;}
.bff {color:#924be2;}
.trouble {color: #bc1f27;}
.neighbor{color:#623119 ;}
.friend{color: #26aae2;}
