html {background-color:#f7f6f0;
        color: black;}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius:10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}
a:active, a:hover {color: #cf1de0;}
h1, h2, h3 {text-align:center;
font-family: copperplate, serif;}
h1{font-family: copperplate, serif;}
p, q, li {font-size: 1.1em;}
#contentlist {list-style: none;
text-align:left;}
#dedication {text-align: center;}
#tablelinks > a{text-decoration: none; 
  color: #120358;
}
#tablelinks > h2, #tablelinks > a > h3 {text-align: left;}
#tableofcontents {border: solid 3.3px #110443;
border-radius: 10px;
margin: 7px 1px;
padding: 7px;}

#dedication {border: solid 3.3px #7f0741;
  border-radius: 10px;
  margin: 7px 1px;
  padding: 7px;}

#section1 {border: solid 3.3px #067a25;
  border-radius: 10px;
  margin: 7px 1px;
padding: 7px;}

#section2 {border: solid 3.3px #f77606;
  border-radius: 10px;
  margin: 7px 1px;
  padding: 7px;}
   #section3 {border: solid 3.3px #6b3115;
    border-radius: 10px;
    margin: 7px 1px;
    padding: 7px;}
#section4 {border: solid 3.3px #03562a;
      border-radius: 10px;
      margin: 7px 1px;
      padding: 7px;}
#section5 {border: solid 3.3px #2fdcfb;
        border-radius: 10px;
        margin: 7px 1px;
        padding: 7px;}
#section6 {border: solid 3.3px #fd3ca6;
          border-radius: 10px;
          margin: 7px 1px;
          padding: 7px;}
 #section7 {border: solid 3.3px #3e6415;
           border-radius: 10px;
            margin: 7px 1px;
            padding: 7px;}

#section8 {border: solid 3.3px #9628a4;
              border-radius: 10px;
              margin: 7px 1px;
              padding: 7px;}

#section9 {border: solid 3.3px #50d701;
                border-radius: 10px;
                margin: 7px 1px;
                padding: 7px;}

  #section10 {border: solid 3.3px #d8f118;
                  border-radius: 10px;
                  margin: 7px 1px;
                  padding: 7px;}

  #section11 {border: solid 3.3px #c32404;
                    border-radius: 10px;
                    margin: 7px 1px;
                    padding: 7px;}

#section12 {border: solid 3.3px #1d8e82;
                      border-radius: 10px;
                      margin: 7px 1px;
                      padding: 7px;}


p {text-indent: 35px;}
#autumntitle {color:#6b3115;
text-decoration: underline;
font-size: larger;}

#wintertitle {color:#0565d9;
  text-decoration: underline;
  font-size: larger;}
  #summertitle {color:#dbbf0a;
    text-decoration: underline;
    font-size: larger;}
    #springtitle {color:#e21087;
      text-decoration: underline;
      font-size: larger;}
.buddy {color: #52b84d;
text-decoration: underline;
font-size: large;}
.love {color: #ff80dd;
  text-decoration: underline;
  font-size: large;}
.bff {color:#924be2;
  text-decoration: underline;
  font-size: large;}
.trouble {color: #bc1f27;
  text-decoration: underline;
  font-size: large;}
.neighbor{color:#623119 ;
  text-decoration: underline;
  font-size: large;}
.friend{color: #26aae2;
  text-decoration: underline;
  font-size: large;}
